/week1/vera.tif
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/dataShiance.iml
/.idea/misc.xml
/week1/chris.tiff
/.idea/.gitignore
/.idea/vcs.xml
